<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/images/favicon.png" rel="icon" type="image/png">
  <link href="/style/materialdesignicons.min.css" rel="stylesheet">
  <link href="/style/site.css" rel="stylesheet" type="text/css">

  {{{head}}}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!=='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5HTJJC8');</script>
  <!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HTJJC8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="nav" data-position="100">
  <div class="nav nav-component--outer links-top   component-wrapper">
    <ul class="nav-links logo">
      <li class="brand-name">
        <div class="h-font h3">{{title}}</div>
      </li>
    </ul>
    <label for="drop" class="toggle">Menu</label><input type="checkbox" id="drop">
    <ul class="nav-links" style="justify-content: flex-end;">
      {{#unless hideHome}}
        <li><a href="http://www.brewoahu.com/" class="mdi mdi-home upper"><span>Home</span></a></li>
      {{/unless}}
      <li><a href="http://registration.brewoahu.com/" class="mdi mdi-account-plus upper"><span>Register</span></a></li>
      {{#unless hideAwards}}
        <li><a href="http://event.brewoahu.com/" class="mdi mdi-calendar"><span>Award Ceremony</span></a></li>
      {{/unless}}
      <li><a href="http://www.brewoahu.com/#location" class="mdi mdi-map-marker"><span>Location</span></a></li>
      <li><a href="http://results2018.brewoahu.com/" class="mdi mdi-format-list-numbers"><span>2018 Results</span></a></li>
    </ul>
  </div>
</section>
{{{content}}}
<section id="location" class="map" data-position="109">
  <div class="map-component--component-wrapper component-wrapper">
    <div class="map-component--inner">
      <div class="map-iframe-wrapper">
        <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJG4-kc2RuAHwRleHoDCmral4&key={{environment.googleMapsApiKey}}" allowfullscreen="allowfullscreen"></iframe>
      </div>
    </div>
  </div>
</section>
<section class="footer-new" data-position="112">
  <div class="footer footer-component--outer component-wrapper">
    <div class="bg sib "></div>
    <div class="footer-component--inner">
      <div>
        <div style="text-align: center;">
          © 2019 HIP Fermenters
        </div>
      </div>
      <div class="links">
        <a href="http://www.instagram.com/brewoahu/" class="color-black mdi mdi-instagram"></a>
        <a href="https://www.facebook.com/brewoahu" class="color-black mdi mdi-facebook"></a>
      </div>
    </div>
  </div>
</section>
</body>
</html>
